@model WebBanHangOnline.Models.EF.Product
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Home/Index" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="./" class="nav-link">Sản phẩm</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thêm mới</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@ViewBag.Title</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin sản phẩm thêm mới</h3>

        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Add", "Product", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true);
                    <!-- your steps content here -->
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Seo</a></li>
                            </ul>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tên sản phẩm</label>
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Tên sản phẩm" })
                                        @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Mã sản phẩm</label>
                                        @Html.TextBoxFor(x => x.ProductCode, new { @class = "form-control", @placeholder = "Mã sản phẩm" })
                                        @Html.ValidationMessageFor(x => x.ProductCode, null, new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Danh mục</label>
                                        @Html.DropDownListFor(x => x.ProductCategoryId, ViewBag.ProductCategory as SelectList, "--Chọn danh mục sản phẩm--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ProductCategoryId, null, new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Mô tả</label>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Mô tả sản phẩm" })
                                        @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Chi tiết sản phẩm</label>
                                        @Html.TextAreaFor(x => x.Detail, new { @class = "form-control", @id = "txtDetail" })
                                        @Html.ValidationMessageFor(x => x.Detail, null, new { @class = "text-danger" })
                                    </div>




                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Số lượng</label>
                                                @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", @placeholder = "Số lượng" })
                                                @Html.ValidationMessageFor(x => x.Quantity, null, new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Giá</label>
                                                @* <input type="text" name="demoPrice" id="demoPrice" class="form-control auto" data-a-dec="," data-a-sep=".">*@
                                                @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @placeholder = "Giá sản phẩm" })
                                                @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Giá khuyến mãi</label>
                                                @Html.TextBoxFor(x => x.PriceSale, new { @class = "form-control", @placeholder = "Khuyến mãi" })
                                                @Html.ValidationMessageFor(x => x.PriceSale, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.isActive, new { @class = "custom-control-input", @id = "customCheckbox1", @checked = "checked" })
                                                    <label for="customCheckbox1" class="custom-control-label">Hiển thị</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.IsHot, new { @class = "custom-control-input", @id = "customCheckbox2" })
                                                    <label for="customCheckbox2" class="custom-control-label">Hot</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.IsFeature, new { @class = "custom-control-input", @id = "customCheckbox3" })
                                                    <label for="customCheckbox3" class="custom-control-label">Nổi bật</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.IsSale, new { @class = "custom-control-input", @id = "customCheckbox4" })
                                                    <label for="customCheckbox4" class="custom-control-label">Khuyến mãi</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>






                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="timeline">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="button" class="btn btn-primary" id="iTaiAnh" onclick="UpImage()" value="Tải ảnh" />
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table table-hover" id="tbAnhSanPham">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left">TT</th>
                                                        <th class="text-center">Ảnh</th>
                                                        <th class="text-center">Ảnh đại diện</th>
                                                        <th class="text-center">Thao tác</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbHtml">
                                                </tbody>
                                            </table>
                                            <input type="hidden" id="tCurrentId" value="0" />
                                        </div>
                                    </div>

                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="settings">
                                    <form class="form-horizontal">

                                        <div class="form-group row">
                                            <label for="inputName" class="col-sm-2 col-form-label">SeoTitle</label>
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(x => x.SeoTitle, new { @class = "form-control", @placeholder = "" })
                                                @Html.ValidationMessageFor(x => x.SeoTitle, null, new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputEmail" class="col-sm-2 col-form-label">SeoKeywords</label>
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(x => x.SeoKeywords, new { @class = "form-control", @placeholder = "" })
                                                @Html.ValidationMessageFor(x => x.SeoKeywords, null, new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="inputName2" class="col-sm-2 col-form-label">SeoDescription</label>
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(x => x.SeoDescription, new { @class = "form-control", @placeholder = "" })
                                                @Html.ValidationMessageFor(x => x.SeoDescription, null, new { @class = "text-danger" })
                                            </div>
                                        </div>


                                    </form>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                        <div class="form-group text-center">
                            <a href="./" class="btn btn-danger" onclick="stepper.previous()">Quay lại</a>
                            <button type="submit" class="btn btn-success">Thêm mới</button>
                        </div>
                    </div>
                }

            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
            $('body').on('click', '.btnXoaAnh', function () {
                var conf = confirm('Bạn có muốn xoá ảnh này không?');
                if (conf === true) {
                    var _id = $(this).data('id');

                    // Ẩn và xoá dòng có ID tương ứng
                    $('#trow_' + _id).fadeTo('fast', 0.5, function () {
                        $(this).slideUp('fast', function () { $(this).remove(); });

                        // Lặp qua các dòng còn lại và cập nhật lại ID
                        var newId = 1;
                        $('#tbHtml tr').each(function (index) {
                            if ($(this).attr('id') != 'trow_' + _id) {
                                $(this).attr('id', 'trow_' + newId);
                                $(this).find('th:eq(0)').text(newId); // Cập nhật lại STT
                                $(this).find('.btnXoaAnh').data('id', newId); // Cập nhật lại data-id cho nút Xoá
                                $(this).find('input[type="radio"]').attr('value', newId); // Cập nhật lại value cho radio button (nếu có)
                                newId++;
                            }
                        });

                        // Cập nhật lại giá trị của phần tử '#tCurrentId'
                        var temp = $('#tCurrentId').val();
                        var currentid = parseInt(temp) - 1;
                        $('#tCurrentId').val(currentid);
                    });
                }
            });
        });
        function UpImage(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileURL) {
                AddImageProduct(fileURL);
            };
            finder.popup();
        }
        function AddImageProduct(url) {
            var temp = $('#tCurrentId').val();
            var currentid = parseInt(temp) + 1;
            var str = "";
            if (currentid == 1) {
                str += `<tr id="trow_${currentid}">
                            <th class="text-left">${currentid}</th>
                            <th class="text-center"><img width="80" src="${url}"/> <input type="hidden" value="${url}" name="Images" /></th>
                            <th class="text-center"><input type="radio" value="${currentid}" name="rDefault" checked="checked"/></th>
                            <th class="text-center"><a href="#" data-id="${currentid}" class="btn btn-sm btn-danger btnXoaAnh">Xoá</a></th>
                        </tr>`;
            }
            else {
                str += `<tr id="trow_${currentid}">
                            <th class="text-left">${currentid}</th>
                            <th class="text-center"><img width="80" src="${url}"/> <input type="hidden" value="${url}" name="Images" /> </th>
                            <th class="text-center"><input type="radio" value="${currentid}" name="rDefault"/></th>
                            <th class="text-center"><a href="#" data-id="${currentid}" class="btn btn-sm btn-danger btnXoaAnh">Xoá</a></th>
                        </tr>`;
            }
            $('#tbHtml').append(str);
            $('#tCurrentId').val(currentid);
        }
    </script>
}